.RegistrationForm{
display:grid;
grid-template-columns: 1fr 2fr;
grid-column-gap: 20px;
}
#RegisterBtn{


     border: none;
     color: white;
     padding: 7px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;

     margin: 4px 2px;
     cursor: pointer;
     width:30vw;
     background-color:rgb(41, 24, 24);
     transition: transform 0.3s ease;
}
#questionToy{
margin-top: 100px;
transition: transform 0.4s ease;
}
.RegistrationQuestions{
margin-bottom: 40px;
}
#RegisterBtn:hover,#questionToy:hover{
transform: scale(1.1);
}
.TobeFilled{
background-color:rgb(247, 246, 242)
}
